@media screen and (max-width: 1540px) {
    .content {
        width: 1515px;
    }
}

@media screen and (max-width: 850px) {
    .content {
        width: 840px;
    }
}

.tab-titles {
    margin-top: 72px;
    margin-bottom: 16px;
    width: 100%;
    height: 47px;
    display: flex;
    border-bottom: 2px solid #5F5F5F;
}

.tab-title {
    margin-left: 96px;
    width: 136px;
    height: 32px;
    border: none;
    background: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    color: #5F5F5F;
    text-decoration: none;
    cursor: pointer;
}

.tab-content {
    padding: 8px 8px 32px 8px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.iten-card {
    margin-top: 40px;
    margin-left: 56px;
    width: 290px;
    height: 320px;
    box-shadow: 2px 4px 4px -1px #A9A9A9;
    text-decoration: none;
}

.item-card__image img{
    width: 100%;
    height: 280px;
}

.item-card__name-tag {
    font-size: 25px;
    font-weight: 400;
    color: #000000;
}