@media screen and (max-width: 1540px) {
    .content {
        width: 1515px;
    }
}

@media screen and (max-width: 850px) {
    .content {
        width: 840px;
    }
}

.content-heading {
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-heading img {
    border-radius: 75px;
}

.content-heading__info {
    text-align: center;
}

.content-heading__info-name {
    font-size: 36px;
    font-weight: 700;
}

.content-heading__edit-link {
    margin-left: 44px;
    padding-top: 8px;
    width: 310px;
    height: 59px;
    text-decoration: none;
    border: 2px solid #FF5555;
    border-radius: 10px;
    font-size: 26px;
    color: #FF5555;
    text-align: center;
}

.tab-titles {
    margin-top: 72px;
    margin-bottom: 16px;
    width: 100%;
    height: 47px;
    display: flex;
    border-bottom: 2px solid #5F5F5F;
}

.tab-title {
    margin-left: 96px;
    width: 168px;
    height: 32px;
    border: none;
    background: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    color: #5F5F5F;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    text-wrap: nowrap;
    flex-wrap: nowrap;
}

.new_messages_count {
    display: inline-block;
    text-align: center;
    width: 29px;
    border-radius: 10px;
    background-color: #FF0000;
    color: #FFFFFF;
}

.tab-content {
    padding: 8px 8px 32px 8px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.item-card {
    position: relative;
    display: inline-block;
    margin-top: 40px;
    margin-left: 56px;
    width: 290px;
    height: 320px;
    box-shadow: 2px 4px 4px -1px #A9A9A9;
    text-decoration: none;
}

.item-card__image img {
    width: 100%;
    height: 280px;
}

.item-sold__image img {
    position: absolute;
    transform: rotate(-30deg);
}

.new-messages__count-byitem {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 2px 2px;
    padding-top: 2px;
    border-radius: 10px;
    font-size: 10px;
    color: #FFFFFF;
}

.item-card__name-tag {
    font-size: 25px;
    font-weight: 400;
    color: #000000;
}


.content-heading__info {
    width: 60%;
}

.rating__input {
    display: none;
}

.rating__input:checked {
    color: #FFF048;
}
.rating__label {
    color: #D9D9D9;
    font-size: 40px;
    padding: 0 10px;
    position: relative;
    transition: color 0.3s;
}

.rating__label:checked {
    color: #FFF048;
}

